body {
    background-color: #f0f0f0; /* Color de fondo de la página */
  }
  
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-content {
    width: 350px;
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del formulario */
  }
  .forgot-password-img {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
  }  
  
  .forgot-password-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Color del título */
  }
  
  .forgot-password-icon {
    margin-right: 10px;
  }
  
  .forgot-password-input {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .forgot-password-input input {
    width: calc(100% - 20px); /* Ancho del input menos el padding */
    padding: 20px;
    border: 2px solid #e0dddd; /* Borde gris */
    border-radius: 10px;
    outline: none;
  }
  .forgot-password-btn {
    background-color: #94d6fc; /* Color del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 110px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-btn:hover {
    background-color: #04b2f7; /* Color del botón al pasar el cursor */
  }
  
  .forgot-password-link {
    margin-top: 20px;
  }
  
  .forgot-password-link-text {
    color: #000000; /* Color del enlace */
    text-decoration: none;
    font-weight: 500;
  }
  
  .forgot-password-link-text:hover {
    text-decoration: underline;
  }
  